@keyframes my-rotation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes my-slide {
    0% {
        transform: scale(1) skew(0deg, 0deg);
    }

    25% {
        transform: scale(1.6) skew(00deg, 0deg);
    }

    50% {
        transform: scale(1) skew(0deg, 0deg);
    }

    75% {
        transform: scale(1.3) skew(0deg, 0deg);
    }

    100% {
        transform: scale(1) skew(0deg, 0deg);
    }
}

.monaco-editor .cursors-layer.cursor-smooth-caret-animation>.cursor {
    /* NOTE: first enable editor.cursorSmoothCaretAnimation */
    /* NOTE: always leave the transition in the code */
    transition: all 120ms ease-out;

    /* NOTE: uncomment this animation for skew demo */
    /* animation: my-slide 2s ease-in-out infinite; */

    /* NOTE: uncomment this animation for rotation demo */
    /* animation: my-rotation 2s linear infinite; */

    background: linear-gradient(to bottom, #ee0979, #ff6a00) !important;
    box-shadow: 0 0 42px 5px #ee0979, #ff6a00 0px 0px 34px 5px;
    color: #161616 !important;
    border-radius: 0px;
}

.monaco-editor .cursor {
    background: linear-gradient(to bottom, #ee0979, #ff6a00) !important;
    box-shadow: 0 0 42px 5px #ee0979, #ff6a00 0px 0px 34px 1px;
    color: #161616 !important
}


.title-label>h2 {
    display: none;
}

.quick-input-widget {
    border: solid !important;
    border-width: 0.5px !important;
    margin-top: 3%;
    box-shadow: 0px 0px 10px 0px yellow !important;
}

.quick-input-widget>.quick-input-titlebar {
    display: none
}

.quick-input-widget>.quick-input-list>.monaco-list {
    max-height: 41vh !important;
}

.quick-input-widget>.quick-input-list .codicon {
    color: #83a598 !important;
    padding-right: 5px;
}

.quick-input-widget>.quick-input-list .monaco-list-row[aria-label*=\"+\"] .label-description {
    color: #8ec07c;
}

.mtk11 {
    color: #91bbff;
    text-shadow: 0 0 10px #2f36ff, 0 0 22px #9d91ff, 0 0 2px black;
}

.mtk12 {
    color: #67d2ff;
    text-shadow: 0 0 15px #12baff, 0 0 2px black;
}

#preview {
    font-size: 18px;
}

.interactive-item-container code {
    font-family: "Agave Nerd Font Mono";
    font-size: 14px;
    text-shadow: 0 0 10px #2f36ff, 0 0 22px #9d91ff, 0 0 2px black;
}

.custom-font-family-sidebar .sidebar .mac {
    font-size: 14px;
}

.monaco-pane-view .pane>.pane-header h3.title {
    font-style: normal;
    /* text-transform: none; */
    font-size: 15px;
    /* text-shadow: 1px 1px 10px #00d515, 1px 1px 5px black; */
    font-family: "3270 Nerd Font";
}

.monaco-mouse-cursor-text {}


.monaco-workbench {
    --vscode-errorForeground: #12ed71;
}

.cursors-layer .has-selection {}
